body
{
background-color:black;
}
.flag{
	width: 550px;
	height: 350px;
	border:2px solid rgb(252, 247, 247);
	background: rgb(5, 101, 5);
}
.yellow{
	position: absolute;
	transform: translate(0px,13%);
	width: 0;
	height: 0;
	border-top: 135px solid transparent;
	border-left: 220px solid  #ff980f;
	border-bottom: 135px solid transparent;
	border-bottom: 140px solid transparent;
	border-left: 200px solid #ff980f;
	border-top: 135px solid transparent;
	
}
.black{
	position: absolute;
	transform: translate(0px,32%);
	width: 0;
	height: 0;
	border-top: 103px solid transparent;
	border-left: 173px solid black;
	border-bottom: 105px sloid transparent;
	border-bottom: 105px solid transparent;
	border-left: 170px solid black;
	border-top: 105px solid transparent;
	
}


.white1{
	position: absolute;
	transform: translate(50px,200px);
	border-bottom: 150px solid white;
	border-left: 220px solid transparent;
	border-right: -280px solid transparent;
	height: 0;
	width:280px;
}
.white2{
	position: absolute;
	transform: translate(50px,0px);
	border-top: 150px solid white;
	border-left: 220px solid transparent;
	border-right: -280px solid transparent;
	height: 0;
	width:280px;
}
.red{
	position: absolute;
	transform: translate(100px,0px);
	border-top: 120px solid red;
	border-left: 200px solid transparent;
	border-right: -200px solid transparent;
	height: 0;
	width:250px;
}
.blue{
	position: absolute;
	transform: translate(100px,230px);
	border-bottom: 120px solid rgb(7, 7, 107);
	border-left: 200px solid transparent;
	border-right: -200px solid transparent;
	height: 0;
	width:250px;
}
